<section>
  <div id="feature-text" class="text-center">
    <div class="row">
      <div class="twelve columns">
        <h2><span class="no-bg">Why Choose To <span class="pink-text">Become a Member?</span></span></h2>
      </div><!--end twelve-->

      <ul class="no-bullet">
        <li class="four columns">
          <div class="circle">
            <a href="../../assets/images/small_thumb_01.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <%= image_tag("small_thumb_01.png") %>
            </a>
          </div>
          <h4>100% for FREE</h4>
          <p>You can register and create your profile for FREE!</p>
          <p><a href="#" class="small button radius secondary"><i class="icon-angle-right"></i> READ MORE</a></p>
        </li>

        <li class="four columns">
          <div class="circle">
            <a href="assets/images/small_thumb_02.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <%= image_tag("small_thumb_02.png") %>
            </a>
          </div>
          <h4>Matching compatible partner</h4>
          <p>Invite friends to help you find your perfect match. </p>
          <p><a href="#" class="small button radius secondary"><i class="icon-angle-right"></i> READ MORE</a></p>
        </li>

        <li class="four columns">
          <div class="circle">
            <a href="assets/images/small_thumb_03.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <%= image_tag("small_thumb_03.png") %>
            </a>
          </div>
          <h4>Share experiences</h4>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <p><a href="#" class="small button radius secondary"><i class="icon-angle-right"></i> READ MORE</a></p>
        </li>
      </ul>
    </div><!--end row-->
  </div><!--end feature-text-->
</section>