<section>
  <div id="feature-text" class="text-center">
    <div class="row">
      <div class="twelve columns">
        <h2><span class="no-bg">Why Choose To <span class="pink-text">Become a Member?</span></span></h2>
      </div><!--end twelve-->

      <ul class="no-bullet">
        <li class="four columns">
          <div class="circle">
            <a href="assets/images/small_thumb_02.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <%= image_tag("small_thumb_02.png") %>
            </a>
          </div>
          <h4>Find your match</h4>
          <p>Our algorithm will use the information you give us to discover people you'll like.</p>
        </li>

        <li class="four columns">
          <div class="circle">
            <a href="assets/images/small_thumb_03.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <%= image_tag("small_thumb_03.png") %>
            </a>
          </div>
          <h4>Share experiences</h4>
          <p>Whether you’re looking for the one (or not), you’ll find authentic connections along the way.</p>
        </li>
        
        <li class="four columns">
          <div class="circle">
            <a href="../../assets/images/small_thumb_01.png" class="imagelink" data-rel="prettyPhoto[gallery1]">
              <span class="overlay"></span>
              <span class="read"><i class="icon-heart"></i></span>
              <%= image_tag("small_thumb_01.png") %>
            </a>
          </div>
          <h4>100% free</h4>
          <p>No cash? No worries. Everything is free of charge.</p>
        </li>
      </ul>
    </div><!--end row-->
  </div><!--end feature-text-->
</section>