<div class="inner page wide-style">
<header>
<div class="header-bg">
<!-- BREADCRUMBS SECTION
================================================ -->
<section>
  <div id="breadcrumbs-wrapp">
    <div class="row">
      <div class="nine columns">
        <ul class="breadcrumbs hide-for-small">
          <li><a href="index.html">Home</a></li>
          <li class="current"><a href="pages/terms">FAQ</a></li>
        </ul>
      </div>

    </div><!--end row-->
  </div><!--end breadcrumbs-wrapp-->
</section>
<!--END BREADCRUMBS SECTION-->





<!-- MAIN SECTION
================================================ -->
<section>
	<div id="main">
  	<div class="row">
    <div class="seven columns">

      <!-- Begin Article -->
      <div class="row">
        <div class="twelve columns">
          <h2 class="article-title"><a href="#"><span class="pink-text">FAQ</span></a></h2>
        </div><!--end twelve-->

        <div class="twelve columns">
          <div class="article-content">
           <!-- content here -->
            <!--end article-content-->
          </div><!--end article-content-->
        </div><!--end twelve-->
      </div><!--end row-->
      <!-- End  Article -->

      <hr>

    </div><!--end seven-->





    <!-- SIDEBAR SECTION
		================================================ -->
    <aside class="four columns offset-by-one hide-for-small">

    	<!--Widgets Container-->
      <div class="widgets-container">

        <div class="widgets clearfix">
          <h5>Pages</h5>
          <ul class="widget-list">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>

<!-- ref: https://www.okcupid.com/help/answers?p=undefined -->
        <div class="widgets clearfix">
          <h5>About us</h5>
          <p>MatchMe is a online dating, friendship, and social networking website that features match people by their interests and personal information.</p>
          <a href="http://www.lipsum.com/" target="_blank">Learn about</a>
        </div>

      </div> <!--end Widgets Container-->
    </aside> <!--end four columns-->
    <!--END SIDEBAR SECTION-->

    </div><!--end row-->
  </div><!--end main-->
</section>
<!--END MAIN SECTION-->