<div class="collapse-card">
  <div class="collapse-card__heading">
      <h4 class="collapse-card__title">
          <i class="fa fa-pencil-square-o fa-2x fa-fw" aria-hidden="true"></i>
          Location
      </h4>
  </div>
  <div class="collapse-card__body">
    <div class = "row">
      <div class="col-md-8">
        <%= f.input :city %>
      </div>
      <div class="col-md-4">
        <%= f.input :post_code %>
      </div>
    </div>
    <div>
      <%= f.input :country, priority: [ "United States", "United Kingdom", "Canada", "Australia", "New Zealand"], include_blank: "-- Select a country --" %>
    </div>
        <div class="collapse-card__close_handler mt1 align-right mouse-pointer">
          Show less <i class="fa fa-chevron-up"></i>
        </div>
  </div>
</div>