<% provide(:title, 'Create Profile') %>
<section>
  <h3 class="pink-text"><i class="icon-magic icon-large"></i> CREATE PROFILE</h3>
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <%= render 'form', user: @user, profile: @profile %>
      </div>
  </div>
  <div class="col-md-2"></div>
</section>