<% if !user.admin? %>
  <div class="user">
      <div class="search-meta">
    <h4><%= link_to user.name, user %></h4>
    <p><%= "#{user.age} - #{user.gender}" %></p>
    <p><%= "#{user.city}, #{user.country}" %></p>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "delete user", user, method: :delete,
      data: { confirm: "Are you sure?" } %>
    <% end %>
    </div>
<% end %>