<% if !user.admin? %>
  <div class="user">
     <!--<div class="avatar">-->
          
     <!-- </div>-->
      <div class="search-meta">
    <h4><%= link_to user.profile.name, user %></h4>
    <p><%= "#{user.profile.age} • #{user.profile.gender}" %></p>
    <p><%= "#{user.profile.city}, #{user.profile.country}" %></p>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "delete user", user, method: :delete,
                                    data: { confirm: "Are you sure?" } %>
          <% end %>
      </div>
    </div>
<% end %>