<% provide(:title, 'Account Settings') %>
<section>
  <div class="row">
    <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3 class="pink-text"><i class="fa fa-pencil"></i> ACCOUNT SETTINGS</h3>
          <%= render 'form' %>
     </div>
  </div>
  <div class="col-md-2"></div>
</section>