<% provide(:title, 'Account Settings') %>
<section>
  <div id="feature-text" class="text-center">
    <div class="row">
      <div class="twelve columns">
        <h3 class="pink-text"><i class="fa fa-pencil"></i> ACCOUNT SETTINGS</h3>
          <%= render 'form' %>
      </div>
    </div>
  </div>
</section>