<% provide(:title, 'Matched profile') %>

<%= will_paginate %>
	<div id="main" class="search-result text-center">
  	<div class="row">
     <div class="twelve columns">   
       <%= render @users %>
     </div> 
  	</div>
  </div>
<%= will_paginate %>
        



