<% provide(:title, 'All users') %>
<h1>All users</h1>


<% @users.each do |user| %>
  <div class="user">
    <h4><%= link_to user.name, user %></h4>
    <p><%= "#{user.age} - #{user.city}, #{user.country}" %></p>
  </div>
<% end %>