<% provide(:title, 'Users') %>

	<div id="main" class="search-result">
  	<div class="row">
     <div class="twelve columns text-center">
       <h1>Users Index</h1>
       <%= render 'search_form' %>
       <%= render @users %>
       <%= will_paginate(@users, :renderer => WillPaginate::ActionView::LinkRenderer) %>
     </div> 
  	</div>
  </div>
        



