<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- Adds pagination to page -->
<%= will_paginate %>

<!-- Loop through and displays all users -->
<!-- See: _user.html.erb -->
<%= render @users %>

<%= will_paginate %>