<% provide(:title, @title) %>
<div class="row">
  
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
 
  <div class="col-md-8">
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>