<div class="inner page wide-style">
<header>
<div class="header-bg">
<!-- BREADCRUMBS SECTION
================================================ -->
<section>
  <div id="breadcrumbs-wrapp">
    <div class="row">
      <div class="nine columns">
        <ul class="breadcrumbs hide-for-small">
          <li><a href="index.html">Home</a></li>
          <li class="current"><a href="pages/terms">Privacy Policy</a></li>
        </ul>
      </div>

    </div><!--end row-->
  </div><!--end breadcrumbs-wrapp-->
</section>
<!--END BREADCRUMBS SECTION-->





<!-- MAIN SECTION
================================================ -->
<section>
	<div id="main">
  	<div class="row">
    <div class="seven columns">

      <!-- Begin Article -->
      <div class="row">
        <div class="twelve columns">
          <h2 class="article-title"><a href="#"><span class="pink-text">Privacy</span> Policy</a></h2>
        </div><!--end twelve-->

        <div class="twelve columns">
          <div class="article-content">

            <p>This Privacy Policy describes the information collected by OkCupid and its associated applications and websites (we, us or OkCupid), operated by Humor Rainbow, Inc., how that information may be used, with whom it may be shared, and your choices about such uses and disclosures. We encourage you to read this Privacy Policy carefully when using our mobile applications and websites, (the “Services”) or transacting business with us. By using our Services, you are accepting the practices described in this Privacy Policy.</p>
            <p>If you have any questions about our privacy practices, please refer to the end of this Privacy Policy for information on how to contact us.</p>

            <h4 class="no-marg-top">The information we collect</h6>
            <p>In General. We may collect Personal Information, including Sensitive Data, and other information. “Personal Information” means individually identifiable information that would allow us to determine the actual identity of, and contact, a specific living person. Sensitive Data includes information, comments or content (e.g. photographs, video, profile, lifestyle) that you optionally provide that may reveal your ethnic origin, nationality, religion and/or sexual orientation. By providing Sensitive Data to us, you consent to the collection, use and disclosure of Sensitive Data as permitted by applicable privacy laws. We may also collect your geolocation information with your consent. We may collect this information through a website, mobile application or other online service. When you provide personal information, the information may be sent to servers located in the United States and other countries around the world.</P>
            <p>Information you provide. We may collect and store any personal information you enter on our website or on a mobile application, or provide to us in some other manner. This includes identifying information, such as your name, address, email address and telephone number, and, if you transact business with us, financial information such as your payment method (valid credit card number, type, expiration date or other financial information). You may also provide us information about your interests and activities, your gender and age, and other demographic information such as your hometown or your username.</p>
            <p>Information from other sources. OkCupid is a part of the Match Group family of businesses (please see mtch.com), which as of the date of this policy includes websites and apps such as Tinder, OurTime.com, BlackPeopleMeet.com, Twoo, POF, Meetic, FriendScout24, Match, HowAboutWe.com, and other companies and websites. We may obtain both personal and non-personal information about you from other Match Group businesses, business partners, contractors and other third parties and add it to our account information or other information we have collected. We may also receive information about our users from third party social platforms, such as Facebook. When you access or use our website or mobile application through such a site you allow us to access or collect information made available by the third party site in accordance with its privacy policy. This information may be available from your profile or account with such site or from cookies placed on your device by the third party platform.</p>
            <p>Information about others. We may collect and store personal information about other people that you provide to us, such as their name, address and email address. If you use our Services to send others (friends, relatives, colleagues, etc.) a product as a gift, we may store your personal information, and the personal information of each such recipient in order to process those requests or facilitate future activities.</p>
            <p>Use of cookies and other technologies to collect information. We use various technologies to collect information from your device and about your activities on our site or application.</p>
            <p>Information collected automatically. We automatically collect information from your browser or device when you visit our website or application. This information could include your IP address, device ID, your browser type and language, access times, the content of any undeleted cookies that your browser previously accepted from us (see "Cookies" below), and the referring website address.</p>
            <p>Cookies and Use of Cookie and Other Data. When you visit our website or application, we may assign your device one or more cookies, to facilitate access to our site and to personalize your online experience. Through the use of a cookie, we also may automatically collect information about your online activity on our site, such as the pages you visit, the time and date of your visits, the links you click, and the searches you conduct on our site. During your visits to other websites or applications where we advertise, we (or third parties) may use certain data collected on our site to show you OkCupid.com advertisements. Although you may not opt out of receiving online advertisements generally, you may control the collection of data on our site used for targeted OkCupid.com advertising during your visits to other websites. To opt-out of OkCupid.com data collection for targeted advertising on other sites, click here: Opt Out Now. Most browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies. If you choose to decline cookies, please note that you may not be able to sign in or use some of the interactive features offered on our Services. Other cookies may reflect de-identified demographic or other data linked to the registration data you have submitted to us, e.g., your email address, in hashed, non-human readable form. No personally identifiable information is contained in these cookies. To opt-out of these cookies, please go to http://www.aboutads.info/choices.</p>
            <p>Other Technologies. We may use standard Internet technology, such as web beacons, pixel tags, local storage and other technologies that facilitate personalization to track your use of our Services. We also may use these technologies in advertisements or email messages to determine whether messages have been opened and acted upon. The information we obtain in this manner enables us to customize the services we offer our website or application visitors to deliver targeted advertisements and to measure the overall effectiveness of our online advertising, content, programming or other activities.</p>
            <p>Information collected by third-parties. We may allow service providers, Match Group companies, advertising companies, ad networks and other third parties, to display advertisements on our site. These companies may use tracking technologies, such as cookies, to collect information about users who view or interact with their advertisements. We do not provide any non-masked or non-obscured personal information to these third parties.</p>

            <h4 class="no-marg-top">How we use the information we collect</h6>
            <p>In General. We may use information that we collect about you to:</p> 
            <p>deliver our products and services, and manage our business;<br>manage your account and provide you with customer support;<br>perform research and analysis about your use of, or interest in, our products, services, or content, or products, services or content offered by others;<br>communicate with you by email, postal mail, telephone and/or mobile devices about products or services that may be of interest to you either from us, other Match Group companies or other third parties;<br>develop and display content and advertising tailored to your interests on our site and other sites, including providing our advertisements to you when you visit other sites;<br>perform ad tracking and website or mobile application analytics;<br>verify your eligibility and deliver prizes in connection with contests and sweepstakes;<br>enforce or exercise any rights in our terms and conditions;<br>perform functions as otherwise described to you at the time of collection; and<br>register you with and display your profile on other online dating and other social websites or applications owned by Match Group, such as match.com and websites operated by People Media.</p>

            <!--end article-content-->
          </div><!--end article-content-->
        </div><!--end twelve-->
      </div><!--end row-->
      <!-- End  Article -->

      <hr>

    </div><!--end seven-->





    <!-- SIDEBAR SECTION
		================================================ -->
    <aside class="four columns offset-by-one hide-for-small">

    	<!--Widgets Container-->
      <div class="widgets-container">

        <div class="widgets clearfix">
          <h5>Pages</h5>
          <ul class="widget-list">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>


        <div class="widgets clearfix">
          <h5>About us</h5>
          <p>MatchMe is a online dating, friendship, and social networking website that features match people by their interests and personal information.</p>
          <a href="http://www.lipsum.com/" target="_blank">Learn about</a>
        </div>

      </div> <!--end Widgets Container-->
    </aside> <!--end four columns-->
    <!--END SIDEBAR SECTION-->

    </div><!--end row-->
  </div><!--end main-->
</section>
<!--END MAIN SECTION-->