<div class="inner page wide-style">
<header>
<div class="header-bg">
<!-- BREADCRUMBS SECTION
================================================ -->
<section>
  <div id="breadcrumbs-wrapp">
    <div class="row">
      <div class="nine columns">
        <ul class="breadcrumbs hide-for-small">
          <li><a href="index.html">Home</a></li>
          <li class="current"><a href="pages/terms">Terms & Conditions</a></li>
        </ul>
      </div>

    </div><!--end row-->
  </div><!--end breadcrumbs-wrapp-->
</section>
<!--END BREADCRUMBS SECTION-->





<!-- MAIN SECTION
================================================ -->
<section>
	<div id="main">
  	<div class="row">
    <div class="seven columns">

      <!-- Begin Article -->
      <div class="row">
        <div class="twelve columns">
          <h2 class="article-title"><a href="#"><span class="pink-text">Terms</span> and conditions</a></h2>
        </div><!--end twelve-->

        <div class="twelve columns">
          <div class="article-content">
            <p>This website (the “Website”) is operated by MatchMe, Inc. (“MatchMe”). The Terms of Use set forth below are binding on all users of this Website. By directing your browser to this Website or otherwise accessing the pages of this Website, you accept these Terms of Use. MatchMe may change the Terms of Use, or may modify or discontinue the Website or services offered thereon, at any time at its sole discretion. MatchMe reserves the right, at its sole discretion, to deny further or continuing access to the Website to any visitor, including, without limitation, any user that MatchMe determines has violated any aspect of these Terms of Use. MatchMe reserves the right, at its sole discretion, to seek and obtain any other remedies available to it pursuant to any applicable laws and regulations or at equity as a result of your breach of these Terms of Use or any other act or omission by you that gives rise to a claim by MatchMe.</p>

            <blockquote>
              <h6 class="no-marg-top">Adult users only</h6>
              <p>This Website is not intended for children under 18 years of age. If you are under 18, you are not authorized to use this Website and will not be afforded access to any features of this Website that allow for you to provide information to us or to share information with other users of this Website.</p>
            </blockquote>
            <h6 class="no-marg-top">Limited License</h6>
            <p>When you purchase features on the Website for a fee, some purchases grant you an unlimited license to use a feature during a set time period. Other purchases may grant you a limited license to use a feature where the license is governed by the use of “tokens”, “points” or similar terms (“License Triggers”) during a set time period. Upon the expiration of the time period, any unused License Triggers expire. In some cases, we may redeem any unused License Triggers ourselves prior to termination and provide you the feature(s) related thereto so you have no unused License Triggers when the license period expired, although we are not obligated to do so. We may also give you a license to use features that use License Triggers for free or as part of a promotion. In all cases, any license to use any of our Services is subject to your compliance with these Terms & Conditions and a non-exclusive, non-transferable and revocable.</p>

          </div><!--end article-content-->
        </div><!--end twelve-->
      </div><!--end row-->
      <!-- End  Article -->

      <hr>

    </div><!--end seven-->





    <!-- SIDEBAR SECTION
		================================================ -->
    <aside class="four columns offset-by-one hide-for-small">

    	<!--Widgets Container-->
      <div class="widgets-container">

        <div class="widgets clearfix">
          <h5>Pages</h5>
          <ul class="widget-list">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>


        <div class="widgets clearfix">
          <h5>About us</h5>
          <p>MatchMe is a online dating, friendship, and social networking website that features match people by their interests and personal information.</p>
          <a href="http://www.lipsum.com/" target="_blank">Learn about</a>
        </div>

      </div> <!--end Widgets Container-->
    </aside> <!--end four columns-->
    <!--END SIDEBAR SECTION-->

    </div><!--end row-->
  </div><!--end main-->
</section>
<!--END MAIN SECTION-->