@import "bootstrap-sprockets";
@import "bootstrap";

@import url('//fonts.googleapis.com/css?family=Raleway');

$pink: #f00056;

/* HEADER */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 1.6em;
  line-height: 130%;
  span {
    display: block;
    font-size: 2.4em;
  }
}

/* ERRORS */

.query_rule {color:#000;}

.debug_dump {
  clear: both;
  float: left;
  width: 40%;
  margin-top: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* HEADER */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-section {
  border: 1px solid #BFBFBF;
  border-radius: 10px;
  padding: 2% 5%;
  margin-bottom:2%;
  height: auto;
}

.divOver {
  background:#ffffff;
  border:solid 2px #ffffff;
} 

/* USERS INDEX */

.user {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #BFBFBF;
  width: 25%;
  margin: 2% 2%;
  padding: 2%;
  text-align: center;
}

.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}

.text-center {
 text-align: center;
}

.none-padding {
    padding: 0 !important;
}

.search-form {
  margin-bottom: 20px;
  input[type="text"] {
    display: inline;
    width: 25%;
  }
}

/* PAGINATION */

.pagination {
  font-size: 1.5em;
}